[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/shmubara
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/shmubara
	label-Verified = -1..+1 group user/shmubara
	push = group user/shmubara
	read = group user/shmubara
	rebase = group user/shmubara
	removeReviewer = group user/shmubara
	submit = group user/shmubara
[access "refs/heads/*"]
	create = group user/shmubara
	push = +force group user/shmubara
	pushMerge = group user/shmubara
	read = group user/shmubara
[access "refs/tags/*"]
	push = group user/shmubara
	push = +force group user/shmubara
